<h4 *ngIf="auth.isAuthenticated()">
  You are logged in!
</h4>
<div *ngIf="!auth.isAuthenticated()">
  <h4>
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
  </h4>
  <div class="alert alert-danger">
    <b>Note:</b> You must whitelist the following Heroku domain as an Allowed Callback URL in your 
    <a href="https://manage.auth0.com/#/clients/{{clientId}}/settings"
      target="_blank">Auth0 client settings
    </a>
    <pre>{{domain}}callback</pre>
  </div>
</div>